@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

html {
  background-image: url("../images/profile-pic.jpg") no-repeat center top;
}

.name {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  width: 85%;
}

.background-color {
  position: relative;
  background-color: #9cf2e2;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 60%;
  padding-bottom: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

img {
  width: 110%
}

h1 {
  text-align: center;
  color: white;
  font-size: 1.5em;
}

p {
  text-align: center;
  color: white;
  font-size: 0.75em;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    border-style: solid;
    color: white;
    width: 30%;
}

.email {
  margin-bottom: 0;
}

.phone {
  margin-top: 0;
}

.link {
  display: inline-block;
  float: left;
  width: 10%;
}

.behance {
  display: inline-block;
  float: left;
  width: 10%;
}

.insta {
  display: inline-block;
  float: left;
  width: 10%;
}

.twitter {
  display: inline-block;
  float: left;
  width: 10%;
}
