@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

.bg-img {
  background-image: url("../images/profile-pic.jpg");
	width: 100%;
}

.name {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  width: 85%;
}

.background-color {
  position: relative;
  background: rgba(93, 195, 176, 0.5);
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 60%;
}

h1 {
  text-align: center;
  color: white;
  font-size: 1.5em;
}

p {
  text-align: center;
  color: white;
  font-size: 0.75em;
  padding-left: 2em;
  padding-right: 2em;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    border-style: solid;
    color: white;
    width: 30%;
}

.email {
  margin-bottom: 0;
}

.phone {
  margin-top: 0;
}

.icons {
  padding-left: 1em;
  padding-bottom: 5em;
}

.link {
  width: 20%;
}

.behance {
  width: 20%;
}

.insta {
  width: 20%;
}

.twitter {
  width: 20%;
}

/*media only screen and (min-width: 28em){

  h1 {
    font-size: 40px;
  }

  p{
    font-size: 1em;
  }

  /*.icon {
    padding-left: 3em;
  }
*/
  .link {
    width: 10%;
  }

  .behance {
    width: 10%;
  }

  .insta {
    width: 10%;
  }

  .twitter {
    width: 10%;
  }

}

/*@media only screen and (min-width: 48em){

  .name {
    top: 4em;
    left: 11em;
    width: 55%;
  }

  .background-color {
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 40%;
  }

  h1 {
    font-size: 50px;
  }

  p{
    font-size: 1em;
  }

icon {
    padding-left: 3em;
  }

  .link {
    width: 10%;
  }

  .behance {
    width: 10%;
  }

  .insta {
    width: 10%;
  }

  .twitter {
    width: 10%;
  }

}
