@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

h1 {
  background-color: #52ccb4;
  margin: 0 5em 0 5em;
  padding-top: 5em;
  padding-bottom: 1em;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  color: white;
}
